body {
	font-family: Tahoma;
}

td {
	border: 1px solid #000;
	padding: 2px;
	text-align: center;
}

.calificacion { 
	border: none;
	margin: 0 auto;
}

#logo {
	width: 160px;
	height: 100px;
}

#titulo {
	border: none;
	font-weight: bold;
	color: #b94a48;
}

section { margin: 70px 30px; } 

.firmas { 
	text-align: none;
	border: none; 
}