body {
	background: url(../imgs/background.png) fixed;
	background-repeat: no-repeat ;
	background-size: 1440px 900px; 
}

div#cinta1 img{ 
	width: 181px;
	float: left;
	margin-top: 10px;
	margin-left: -60px;
}

div#cinta2 img{ 
	width: 181px;
	float: right;
	margin-right: -65px;
	margin-top: -100px;
}

.contenedor { 
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	box-shadow: 2px 2px 4px #fff; 
	padding: 20px;
	margin-top: 80px; 
}

.logo img {	margin: 0 auto; }

.menu {
	margin: 25px auto;
	text-align: center;
}

.btn-login {
	background-color: #999;
	color: #fff;
	margin-right: 35px; 
}

.btn-login:hover {
	background-color: #666;
	color: #fff;
}

.panel-login { margin: 0 auto; }

/* ============================================================================================= */
/* ================================= Barra de navegacion Admin ================================= */

.nav-admin, .nav-users, .pagination li a, .pagination li span {
	background-color: #666;	
	border-radius: 5px;
	/*border: 1px solid transparent;*/
	margin-top: 20px;
}

.nav-pills li.active a, .nav-pills li.active a:hover, .nav-pills li.active a:focus,
.nav-admin li.active a, .nav-admin li.active a:hover, .nav-admin li.active a:focus,
.pagination .active a, .pagination .active span, .pagination .active a:hover,
.pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
	color: #fff;
	background-color: #E27E13;	
}

.nav-admin a, .nav-users a, .pagination a { 
	color: #fff;
	text-align: center; 
}

.nav-admin a:hover, .nav-users a:hover, .pagination a:hover { color: #000; }

.top-bar { margin-top: 20px; }

.btn-add, .btn-matricula { 
	background-color: #777;
	color: #fff;
}
.btn-add:hover, .btn-matricula:hover {
	background-color: #666;
	color: #fff;
}

#btn-cerrar:hover {
	background-color: #d43f3a;
	color: #fff;
}
/* ============================================================================================= */
/* ============================================================================================= */

/* ============================================================================================= */
/* ================================= CRUD Usuarios Admin ================================= */

.contenedor-crud {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	box-shadow: 2px 2px 4px #fff; 
	padding: 50px 80px;	
	margin: 0 auto;
	width: 800px;
}

#nombre, #apellido, #direccion { text-transform: uppercase; }

#frm_register  {
	margin-top: 35px; 
	padding-left: 50px;
}

.panel-default {
	background-color: transparent;
	border: none;
	border-radius: 5px;
	margin-top: 30px;	
}

/* ============================================================================================= */
/* ============================================================================================= */

/* ============================================================================================= */
/* ========================================= Empleado ========================================== */

.grupos { margin-top: 20px; }

/* ============================================================================================= */
/* ============================================================================================= */

/* ============================================================================================= */
/* ========================================= Empleado ========================================== */

/* #calif {
	text-align: center;
	width: 50px;
} */

/* ============================================================================================= */
/* ============================================================================================= */

#valor {
	background: transparent;
	border: none;
}

#alert-content {
	position: relative;
	margin-top: 50%;
}